<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz Quest!</title>
    <link rel='stylesheet' href='/stylesheets/template.css' type='text/css' media='all' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <% if @content.nil? %>
    <%= "Problem.create([" %>
    <% cnt = 0 %>
    <% @contents.each do |content| %>
    {
    content: "<%= content["problem"] %>",
    result: 0,
    sum: 0,
    user_id: 1,
    <% for num in 1..4 do %>
        select<%= num %>: "<%= content["select" + String(num)]%>",
    <% end %>
    result_id: <%= content["result"] %>
    }
    <% cnt+=1 %>   
    <% if cnt != 20 %>
        <%= "," %>
    <% else %>
        <%= "])"%>
    <% end %>
    <% end %>
    <% end %>
    
</body>
</html>